@using Wervingsreserve.Website.Features.Shared.Components.Header
@model Header

<div class="jumbotron">
    <div class="fluid-container d-flex justify-content-start">
        <h1>@Model.Title</h1>
    </div>
</div>