@using Wervingsreserve.Website.Features.Kandidaat
@model List<Kandidaat>

<vc:header title="Alle kandidaten"></vc:header>

<div class="container-fluid">
    <div class="row">
        @foreach (var kandidaat in Model)
        {
            <div class="col-lg-6 jumbotron-search-kaart">
                <vc:kandidaat-kaart kandidaat="@kandidaat" toon-details-link="true"></vc:kandidaat-kaart>
            </div>
        }
    </div>
</div>