@using Wervingsreserve.Website.Features.Kandidaat
@model Kandidaat

<vc:kandidaat-kaart kandidaat="@Model" toon-details-link="false"></vc:kandidaat-kaart>    

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div style="margin: 8px; padding-top: 16px;">
                <a class="float-right" href="#"><i class="fa fa-file-o"></i> Toevoegen...</a>
                <h3><i class="fa fa-book"></i> Documenten</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><i class="fa fa-file-text"></i> CV</h5>
                            <small>21 nov 2017</small>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><i class="fa fa-envelope"></i> Motivatiebrief</h5>
                            <small>21 nov 2017</small>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><i class="fa fa-id-card"></i> Contactgevens</h5>
                            <small>21 nov 2017</small>
                        </div>
                    </a>
                </div>
            </div>
            <div style="margin: 8px; padding-top: 16px;">
                <a class="float-right" href="#"><i class="fa fa-comment-o"></i> Toevoegen...</a>
                <h3><i class="fa fa-comments"></i> Notities</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><i class="fa fa-comment"></i> List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><i class="fa fa-comment"></i> List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><i class="fa fa-comment"></i> List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
        </div>
    </div>
</div>